@{
    ViewBag.Title = "Dependencias Generales";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles</h2>
@{
    if (ViewData["dependenciasauxiliares"] == null && ViewData["dependenciasmunicipio"] == null)
    {
        @model Dependencias.Models.DEPENDENCIASGENERALES
<div>
    <h4>@ViewBag.Title</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
           @* @Html.DisplayNameFor(model => model.ANIOOPERACION)*@
            Año de operación
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ANIOOPERACION)
        </dd>

        <dt>
           @* @Html.DisplayNameFor(model => model.CLAVEDEPENDENCIAGENERAL)*@
            Clave Dependencia General
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CLAVEDEPENDENCIAGENERAL)
        </dd>

        <dt>
           @* @Html.DisplayNameFor(model => model.NOMBREDEPENDENCIAGENERAL)*@
            Nombre de la Dependencia
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOMBREDEPENDENCIAGENERAL)
        </dd>

        <dt>
           @* @Html.DisplayNameFor(model => model.USUARIOCAPTURA)*@
            Usuario que Captura
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USUARIOCAPTURA)
        </dd>

        <dt>
           @* @Html.DisplayNameFor(model => model.FECHACAPTURA)*@
            Fecha de Captura
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FECHACAPTURA)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CLAVEDEPENDENCIA }) |
    @Html.ActionLink("Back to List", "Index")
</p>

    }   
}

@{
    if (ViewData["dependenciasgenerales"] == null && ViewData["dependenciasmunicipio"] == null)
    {
        @model Dependencias.Models.DEPENDENCIASAUXILIARES
        <div>
            <h4>@ViewBag.Title</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @* @Html.DisplayNameFor(model => model.ANIOOPERACION)*@
                    Año de operación
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ANIOOPERACION)
                </dd>

                <dt>
                    @* @Html.DisplayNameFor(model => model.CLAVEDEPENDENCIAGENERAL)*@
                    Clave Dependencia General
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CLAVEDEPENDENCIAGENERAL)
                </dd>

                <dt>
                    @* @Html.DisplayNameFor(model => model.NOMBREDEPENDENCIAGENERAL)*@
                    Nombre de la Dependencia
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.NOMBREDEPENDENCIAGENERAL)
                </dd>

                <dt>
                    @* @Html.DisplayNameFor(model => model.USUARIOCAPTURA)*@
                    Usuario que Captura
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.USUARIOCAPTURA)
                </dd>

                <dt>
                    @* @Html.DisplayNameFor(model => model.FECHACAPTURA)*@
                    Fecha de Captura
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.FECHACAPTURA)
                </dd>

            </dl>
        </div>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.CLAVEDEPENDENCIA }) |
            @Html.ActionLink("Back to List", "Index")
        </p>

    }
}

