@model Dependencias.Models.DEPENDENCIASMUNICIPIOS

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>DEPENDENCIASMUNICIPIOS</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.ANIOOPERACION, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ANIOOPERACION)
                @Html.ValidationMessageFor(model => model.ANIOOPERACION)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CLAVEDEPENDENCIAGENERAL, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CLAVEDEPENDENCIAGENERAL)
                @Html.ValidationMessageFor(model => model.CLAVEDEPENDENCIAGENERAL)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CLAVEDEPENDENCIAAUXILIAR, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CLAVEDEPENDENCIAAUXILIAR)
                @Html.ValidationMessageFor(model => model.CLAVEDEPENDENCIAAUXILIAR)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.USUARIOCAPTURA, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.USUARIOCAPTURA)
                @Html.ValidationMessageFor(model => model.USUARIOCAPTURA)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FECHACAPTURA, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FECHACAPTURA)
                @Html.ValidationMessageFor(model => model.FECHACAPTURA)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
