@model Dependencias.Models.DEPENDENCIASMUNICIPIOS

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>DEPENDENCIASMUNICIPIOS</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ANIOOPERACION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ANIOOPERACION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CLAVEDEPENDENCIAGENERAL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CLAVEDEPENDENCIAGENERAL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CLAVEDEPENDENCIAAUXILIAR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CLAVEDEPENDENCIAAUXILIAR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.USUARIOCAPTURA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USUARIOCAPTURA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FECHACAPTURA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FECHACAPTURA)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CLAVEDEPENDENCIAAUXILIAR }) |
    @Html.ActionLink("Back to List", "Index")
</p>
