@model Dependencias.Models.DEPENDENCIASAUXILIARES

<h2>Detalles de la Dependencia Auxiliar</h2>
<div>
    <dl class="dl-horizontal">
        <dt>
            Año de operación
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ANIOOPERACION)
        </dd>

        <dt>
            Clave Dependencia Auxiliar
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CLAVEDEPENDENCIAAUXILIAR)
        </dd>

        <dt>
            Nombre de la Dependencia Auxiliar
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOMBREDEPENDENCIAAUXILIAR)
        </dd>

        <dt>
            Usuario que Captura
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USUARIOCAPTURA)
        </dd>

        <dt>
            Fecha de Captura
        </dt>

        <dd>
            @{string fecha = Model.FECHACAPTURA.ToShortDateString();}
            @Html.DisplayFor(model => fecha)
        </dd>

        <dt>
            Status de Dependencias Generales
        </dt>

        <dd>
            @Html.DisplayFor(model => model.STATUSDEPENDENCIASGENERALES)
        </dd>

    </dl>
</div>