@model Dependencias.Models.DEPENDENCIASAUXILIARES

<h2>Eliminar Dependencia Auxiliar</h2>

<h3>¿Estás seguro que quieres eliminar esto?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Año de operación
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ANIOOPERACION)
        </dd>

        <dt>
            Clave Dependencia Auxiliar
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CLAVEDEPENDENCIAAUXILIAR)
        </dd>

        <dt>
            Nombre de la Dependencia Auxiliar
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOMBREDEPENDENCIAAUXILIAR)
        </dd>

        <dt>
            Usuario que Captura
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USUARIOCAPTURA)
        </dd>

        <dt>
            Fecha de Captura
        </dt>

        <dd>
            @{string fecha = Model.FECHACAPTURA.ToShortDateString();}
            @Html.DisplayFor(model => fecha)        
        </dd>

        <dt>
            Status Dependencias Auxiliares
        </dt>

        <dd>
            @Html.DisplayFor(model => model.STATUSDEPENDENCIASGENERALES)
        </dd>

    </dl>

    @using (Html.BeginForm("EliminarDepAux", "Dependencias", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.CLAVEDEPENDENCIAAUXILIAR)
        <div class="form-actions no-color">
            <input type="submit" value="Eliminar Dependencia Auxiliar" class="btn btn-danger" />
        </div>
    }
</div>
