@model Dependencias.Models.DEPENDENCIASGENERALES

<h2>Eliminar Dependencia General</h2>

<h3>¿Estás seguro que quieres eliminar esto?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Año de operación
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ANIOOPERACION)
        </dd>

        <dt>
            Clave Dependencia General
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CLAVEDEPENDENCIAGENERAL)
        </dd>

        <dt>
            Nombre de la Dependencia General
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOMBREDEPENDENCIAGENERAL)
        </dd>

        <dt>
            Usuario que Captura
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USUARIOCAPTURA)
        </dd>

        <dt>
            Fecha de Captura
        </dt>

        <dd>
           @* @{string fecha = Model.FECHACAPTURA.ToShortDateString();}*@
            @Html.DisplayFor(model => model.FECHACAPTURA)        
        </dd>

        <dt>
            Status Dependencias Generales
        </dt>

        <dd>
            @Html.DisplayFor(model => model.STATUSDEPENDENCIASGENERALES)
        </dd>

    </dl>

    @using (Html.BeginForm("EliminarDepGral", "Dependencias", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.CLAVEDEPENDENCIAGENERAL)
        <div class="form-actions no-color">
            <input type="submit" value="Eliminar Dependencia General" class="btn btn-danger" /> 
        </div>
    }
</div>
