@model Dependencias.Models.DEPENDENCIASMUNICIPIOS

<h2>Eliminar Dependencia municipio</h2>

<h3>¿Estás seguro que quieres eliminar esto?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Año de operación
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ANIOOPERACION)
        </dd>

        <dt>
            Clave Dependencia General
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CLAVEDEPENDENCIAGENERAL)
        </dd>

        <dt>
            Clave Dependencia Auxiliar
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CLAVEDEPENDENCIAAUXILIAR)
        </dd>

        <dt>
            Usuario que Captura
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USUARIOCAPTURA)
        </dd>

        <dt>
            Fecha de Captura
        </dt>

        <dd>
            @{string fecha = Model.FECHACAPTURA.ToShortDateString();}
            @Html.DisplayFor(model => fecha)
        </dd>

        <dt>
            Status Dependencias Generales
        </dt>

        <dd>
            @Html.DisplayFor(model => model.STATUSDEPENDENCIASGENERALES)
        </dd>

    </dl>

    @using (Html.BeginForm("EliminarDepmun", "Dependencias", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(c=> c.CLAVEDEPENDENCIAGENERAL)
        @Html.HiddenFor(c=> c.CLAVEDEPENDENCIAAUXILIAR)

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar Dependencia Municipio" class="btn btn-danger" />
        </div>
    }
</div>
