@model Dependencias.Models.DEPENDENCIASGENERALES

<h2>Modificar Registro</h2>

@using (Html.BeginForm("ModificarDepGral", "Dependencias", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Dependencias Generales</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.CLAVEDEPENDENCIA)
        @Html.HiddenFor(model => model.ANIOOPERACION)
        @Html.HiddenFor(model => model.CLAVEDEPENDENCIAGENERAL)

        <div class="form-group">
            <label class="control-label col-md-2">Nombre de la Dependencia General</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.NOMBREDEPENDENCIAGENERAL)
                @Html.ValidationMessageFor(model => model.NOMBREDEPENDENCIAGENERAL)
            </div>
        </div>

        @Html.HiddenFor(model => model.USUARIOCAPTURA, new { @Value=@User.Identity.Name })
        @Html.HiddenFor(model => model.FECHACAPTURA, new { @Value=@DateTime.Now.ToShortDateString() })

        <div class="form-group">
            <label class="control-label col-md-2">Status Dependencia General</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.STATUSDEPENDENCIASGENERALES)
                @Html.ValidationMessageFor(model => model.STATUSDEPENDENCIASGENERALES)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    <a href="javascript.void(0)" onclick="history.go(-1);"> Regresar</a>
</div>