@model Dependencias.Models.DEPENDENCIASGENERALES

<h2>Nueva Dependencia General</h2>

@using (Html.BeginForm("NuevoDepGral", "Dependencias", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)

        @Html.HiddenFor(model => model.CLAVEDEPENDENCIA, new { @Value = 1 })
        @Html.HiddenFor(model => model.ANIOOPERACION, new { @Value = 2015 })

        <div class="form-group">
            <label class="control-label col-md-2"> Clave de Dependencia General</label>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.CLAVEDEPENDENCIAGENERAL, new { required = "required", @maxlength = "4" })
                @Html.ValidationMessageFor(model => model.CLAVEDEPENDENCIAGENERAL)
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2"> Nombre de la Dependencia General</label>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.NOMBREDEPENDENCIAGENERAL, new { required = "required", @maxlength = "80" })
                @Html.ValidationMessageFor(model => model.NOMBREDEPENDENCIAGENERAL)
            </div>
        </div>

        @Html.HiddenFor(model => model.USUARIOCAPTURA, new { @Value = @User.Identity.Name })
        @Html.HiddenFor(model => model.FECHACAPTURA, new { @Value = @DateTime.Now.ToShortDateString() })

        <div class="form-group">
            <label class="control-label col-md-2">Status de Dependencias Generales</label>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.STATUSDEPENDENCIASGENERALES, new { required = "required", @maxlength = "1" })
                @Html.ValidationMessageFor(model => model.STATUSDEPENDENCIASGENERALES)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Crear nueva Dependencia General" class="btn btn-success" />
            </div>
        </div>
    </div>
}