@model Dependencias.Models.DEPENDENCIASMUNICIPIOS

@{
    ViewBag.Title = "Crear Dependencia Municipios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)

        @* @Html.HiddenFor(model => model.CLAVEDEPENDENCIA)*@
        @Html.HiddenFor(model => model.ANIOOPERACION, new { @Value = DateTime.Now.Year })

        <div class="form-group">
            <label class="control-label col-md-2">Clave de Dependencia General</label>
            <div class="col-md-10">
                @{
                    List<string> ListaDepGral = new List<string>();
                    foreach (var item in ViewData["DepGral"] as List<Dependencias.Models.DEPENDENCIASGENERALES>)
                    {
                     ListaDepGral.Add(item.CLAVEDEPENDENCIAGENERAL);
                    }
                    @Html.DropDownListFor(model => model.CLAVEDEPENDENCIAGENERAL, new SelectList(ListaDepGral))
                }
                @Html.ValidationMessageFor(model => model.CLAVEDEPENDENCIAGENERAL)
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Clave de Dependencia Auxiliar</label>
            <div class="col-md-10">
                @{
                    List<string> ListaDepAux = new List<string>();
                    foreach (var item in ViewData["DepAux"] as List<Dependencias.Models.DEPENDENCIASAUXILIARES>)
                    {
                     ListaDepAux.Add(item.CLAVEDEPENDENCIAAUXILIAR);
                    }
                }
                @Html.DropDownListFor(model => model.CLAVEDEPENDENCIAAUXILIAR, new SelectList(ListaDepAux))
                @Html.ValidationMessageFor(model => model.CLAVEDEPENDENCIAAUXILIAR)
            </div>
        </div>

        @Html.HiddenFor(model => model.USUARIOCAPTURA, new { @Value = @User.Identity.Name })
        @Html.HiddenFor(model => model.FECHACAPTURA, new { @Value = @DateTime.Now.ToShortDateString() })

        <div class="form-group">
            <label class="control-label col-md-2">Status de Dependencias Generales</label>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.STATUSDEPENDENCIASGENERALES, new {required="required", max=1 })
                @Html.ValidationMessageFor(model => model.STATUSDEPENDENCIASGENERALES)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Crear nueva Dependencia Municipios" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @* @Html.ActionLink("Regresar a los Registros", "Index") *@
    <a href="javascript.void(0)" onclick="history.go(-1);"> Regresar</a>
</div>
@*
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@