@{
    DB2Conn db = new DB2Conn();
    ViewData["DependenciasGral"] = db.DepGral.ToList();
    ViewData["DependenciasAux"] = db.DepAux.ToList();
}
@using Dependencias.Models
@model Dependencias.Models.DEPENDENCIASMUNICIPIOS

<h2>Nueva Dependencia Municipios</h2>


@using (Html.BeginForm("NuevoDepMun", "Dependencias", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)

        @Html.HiddenFor(model => model.CLAVEDEPENDENCIA, new { @Value=1})
        @Html.HiddenFor(model => model.ANIOOPERACION, new { @Value = 2015 })

        <div class="form-group">
            <label class="control-label col-md-2">Clave de Dependencia General</label>
            <div class="col-md-10">
                @{
                    List<string> ListaDepGral = new List<string>();
                    foreach (var item in ViewData["DependenciasGral"] as List<DEPENDENCIASGENERALES>)
                    {
                     ListaDepGral.Add(item.CLAVEDEPENDENCIAGENERAL);
                    }
                    @Html.DropDownListFor(model => model.CLAVEDEPENDENCIAGENERAL, new SelectList(ListaDepGral))
                }
                @Html.ValidationMessageFor(model => model.CLAVEDEPENDENCIAGENERAL)
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Clave de Dependencia Auxiliar</label>
            <div class="col-md-10">
                @{
                    List<string> ListaDepAux = new List<string>();
                    foreach (var item in ViewData["DependenciasAux"] as List<Dependencias.Models.DEPENDENCIASAUXILIARES>)
                    {
                        ListaDepAux.Add(item.CLAVEDEPENDENCIAAUXILIAR);
                    }
                    @Html.DropDownListFor(model => model.CLAVEDEPENDENCIAAUXILIAR, new SelectList(ListaDepAux))
                }
                @Html.ValidationMessageFor(model => model.CLAVEDEPENDENCIAAUXILIAR)
            </div>
        </div>

        @Html.HiddenFor(model => model.USUARIOCAPTURA, new { @Value = @User.Identity.Name })
        @Html.HiddenFor(model => model.FECHACAPTURA, new { @Value = @DateTime.Now.ToShortDateString() })

        <div class="form-group">
            <label class="control-label col-md-2">Status de Dependencias Generales</label>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.STATUSDEPENDENCIASGENERALES, new { required = "required", @maxlength = "1" })
                @Html.ValidationMessageFor(model => model.STATUSDEPENDENCIASGENERALES)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Crear nueva Dependencia Municipios" class="btn btn-default" />
            </div>
        </div>
    </div>
}