@model Dependencias.Models.DEPENDENCIASAUXILIARES

@{
    ViewBag.Title = "Crear Dependencia Auxiliar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
                <label class="control-label col-md-2">Clave Dependencia</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CLAVEDEPENDENCIA)
                    @Html.ValidationMessageFor(model => model.CLAVEDEPENDENCIA)
                </div>
            </div>

        <div class="form-group">
            <label class="control-label col-md-2"> Año de Operación</label>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.ANIOOPERACION, new { @Value = DateTime.Now.Year, max = DateTime.Now.Year,min="2010", type = "number" })
                @Html.ValidationMessageFor(model => model.ANIOOPERACION)
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2"> Clave de Dependencia Auxiliar</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.CLAVEDEPENDENCIAAUXILIAR)
                @Html.ValidationMessageFor(model => model.CLAVEDEPENDENCIAAUXILIAR)
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2"> Nombre de la Dependencia Auxiliar</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.NOMBREDEPENDENCIAAUXILIAR)
                @Html.ValidationMessageFor(model => model.NOMBREDEPENDENCIAAUXILIAR)
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2"> Usuario que Captura</label>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.USUARIOCAPTURA, new { @Value = @User.Identity.Name })
                @Html.ValidationMessageFor(model => model.USUARIOCAPTURA)
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2"> Fecha de Captura</label>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.FECHACAPTURA, new { @Value = DateTime.Now.ToShortDateString() })
                @Html.ValidationMessageFor(model => model.FECHACAPTURA)
            </div>
        </div>

        <div class="form-group">
                <label class="control-label col-md-2">Status de Dependencias Generales</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.STATUSDEPENDENCIASGENERALES)
                    @Html.ValidationMessageFor(model => model.STATUSDEPENDENCIASGENERALES)
                </div>
            </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Crear nueva Dependencia Auxiliar" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @* @Html.ActionLink("Regresar a los Registros", "Index") *@
    <a href="javascript.void(0)" onclick="history.go(-1);"> Regresar</a>
</div>
@*
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@